torch
hydra-core
h5py
# install nmslib from GitHub (instead of PyPI)
git+https://github.com/nmslib/nmslib/#subdirectory=python_bindings
numpy
omegaconf
pandas
pytorch-lightning
pytorch-metric-learning
ranx~=0.3.20
retriv==0.2.0
scikit-learn
scipy
tensorboard
torchmetrics
tqdm
transformers
sentence-transformers
wandb
numba
vllm

